body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #2b3a42;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
}

header h1 {
    font-size: 1.5rem;
    margin: 0;
}

header .highlight {
    color: #f2b632;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}

.navigation a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-weight: 700;
    transition: background-color 0.3s, color 0.3s;
}

.navigation a:hover {
    background-color: #f2b632;
    color: #2b3a42;
    border-radius: 5px;
}

/* Main */
main {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media (min-width: 768px) {
    main {
        grid-template-columns: 2fr 1fr;
    }
}

.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-me h2 {
    background-color: #2b3a42;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
}

.about-content {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 1.5rem;
}

.about-content img {
    max-width: 150px;
    height: auto;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .about-content {
        grid-template-columns: 1fr; 
        text-align: center;
    }
}
.resources h2 {
    background-color: #2b3a42;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
    
}

.resources ul {
    list-style: none;
    padding: 0;
}

.resources li {
    margin: 0.5rem 0;
}

.resources a {
    color: #6c63ff;
    text-decoration: none;
}

.resources a:hover {
    color: #2b3a42;
}


/* Footer */
footer {
    background-color: #2b3a42;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
}

footer p {
    margin: 0.5rem 0;
}
